name: DailyCheckIn

on:
  workflow_dispatch: # 支持手动点击运行
  schedule:
    - cron: "0 0 * * *" # 每天 UTC 0点（北京时间早上8点）自动运行

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install dailycheckin --upgrade
      - name: Run dailycheckin
        env:
          DAILYCHECKIN_CONFIG: ${{ secrets.DAILYCHECKIN_CONFIG }}
        run: |
          echo "$DAILYCHECKIN_CONFIG" > ./config.json
          dailycheckin --include QQ --config ./config.json
